[submodule "1XC3_L03"]
	path = 1XC3_L03
	url = git@github.com:ShenyuanGao/1XC3_L03.git
[submodule "L07/1XC3_L07"]
	path = L07/1XC3_L07
	url = git@github.com:ShenyuanGao/1XC3_L07.git
[submodule "L08/1XC3"]
	path = L08/1XC3
	url = git@github.com:ShenyuanGao/1XC3.git
[submodule "L09a/1XC3_L09"]
	path = L09a/1XC3_L09
	url = git@github.com:ShenyuanGao/1XC3_L09.git
